<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
    <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
    <th scope="col" sortable="population" (sort)="onSort($event)">Population</th>
    <th scope="col">update</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sensor of sensors">
    <th scope="row">{{ sensor.id }}</th>
    <td>
      {{ sensor.name }}
    </td>
    <td>{{ sensor.domoticsId | number }}</td>
    <td>{{ sensor.lastContact | date:'medium' }}</td>
    <td><a [routerLink]="['/update', sensor.id]">update</a></td>
  </tr>
  </tbody>
</table>
